@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.home-page_container{
  position: relative;
  top:35vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap:10px;
  font-size: 100px;
}
h1{
  font-size: 150px;
}